# Cleaner Exploration File
This is meant to help visualize and finalize the cleaning steps

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

In [114]:
df = pd.read_csv("https://www.cdc.gov/wcms/vizdata/poxvirus/monkeypox/data/USmap_counts/exported_files/usmap_counts.csv")
df.head()

,Location,Cases,Case_Range,AsOf
0,Non-US Resident,3,1 to 10,Data as of November 04 2022 at 2:00 pm EDT
1,Alabama,168,101 to 500,Data as of November 04 2022 at 2:00 pm EDT
2,Alaska,5,1 to 10,Data as of November 04 2022 at 2:00 pm EDT
3,Arizona,538,>500,Data as of November 04 2022 at 2:00 pm EDT
4,Arkansas,70,51 to 100,Data as of November 04 2022 at 2:00 pm EDT

In [115]:
df = df.drop(columns=["Case_Range"])

In [117]:
from datetime import date
import dateutil.parser as parser

df["AsOf"] = date.today()
df.head()

          Location  Cases        AsOf
0  Non-US Resident      3  2022-11-06
1          Alabama    168  2022-11-06
2           Alaska      5  2022-11-06
3          Arizona    538  2022-11-06
4         Arkansas     70  2022-11-06

In [5]:
# the only columns kept are ID, Location_information, Date_confirmed
df = df.drop(columns=["cases"])
df["state"] = "United States"

In [6]:
df.head()

         date  cumulative_sum          state
0  2022-11-06           26046  United States
1  2022-11-05           26046  United States
2  2022-11-04           26046  United States
3  2022-11-03           26046  United States
4  2022-11-02           26046  United States

In [8]:
state_count = pd.read_csv("https://www.cdc.gov/765ae7cb-3fae-49f6-9f0e-5f6a65ec6d40")
state_count.head()

HTTPError: HTTP Error 404: Not Found

In [118]:
df = pd.read_csv("https://raw.githubusercontent.com/globaldothealth/monkeypox/main/latest_deprecated.csv", low_memory=False)

In [59]:
df.columns

Index(['ID', 'Status', 'Location', 'City', 'Country', 'Country_ISO3', 'Age',
       'Gender', 'Date_onset', 'Date_confirmation', 'Symptoms',
       'Hospitalised (Y/N/NA)', 'Date_hospitalisation', 'Isolated (Y/N/NA)',
       'Date_isolation', 'Outcome', 'Contact_comment', 'Contact_ID',
       'Contact_location', 'Travel_history (Y/N/NA)', 'Travel_history_entry',
       'Travel_history_start', 'Travel_history_location',
       'Travel_history_country', 'Genomics_Metadata', 'Confirmation_method',
       'Source', 'Source_II', 'Source_III', 'Source_IV', 'Source_V',
       'Source_VI', 'Source_VII', 'Date_entry', 'Date_death',
       'Date_last_modified'],
      dtype='object')

In [119]:
df = df[df["Country"] == "United States"]

df = df.drop(
    columns=["Date_onset", "Symptoms", "Date_isolation", "Confirmation_method", "Genomics_Metadata", "Date_hospitalisation", "Contact_ID", "Contact_comment", "Contact_location",
             "Country_ISO3", "Age", "Gender", "Hospitalised (Y/N/NA)", "Source_II", "Source_III", "Source_IV", "Source_V", "Source_VI", "Source_VII", "Date_entry", "Date_death",
             "Date_last_modified", "City", "Country", "Source", "Travel_history_country", "Travel_history_location", "Travel_history_start", "Travel_history_entry", "Travel_history (Y/N/NA)", 
             "Outcome", "Isolated (Y/N/NA)"])
df.head()

,ID,Status,Location,Date_confirmation
35,N36,confirmed,"Massachusetts General Hospital, Boston, Massac...",2022-05-18
100,N101,confirmed,"Bellevue Hospital, New York City, New York",2022-05-19
192,N193,confirmed,"Broward County, Florida",2022-05-26
243,N244,confirmed,"Salt Lake County, Utah",2022-05-25
244,N245,confirmed,"Salt Lake County, Utah",2022-05-25

In [120]:
df = df.astype(str)
states=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
df["State"] = pd.NA

In [121]:
for id,row in df.iterrows():
    for state in states:
        if state in row['Location']:
            row['State'] = state

In [122]:
df = df.drop(columns=["Location", "ID"])

df.head()

        Status Date_confirmation          State
35   confirmed        2022-05-18  Massachusetts
100  confirmed        2022-05-19       New York
192  confirmed        2022-05-26        Florida
243  confirmed        2022-05-25           Utah
244  confirmed        2022-05-25           Utah

In [125]:
df.groupby(["State"]).count()

                Status  Date_confirmation
State
Alabama            116                116
Alaska               5                  5
Arizona            438                438
Arkansas            57                 57
California        4754               4754
Colorado           276                276
Connecticut        126                126
Delaware            36                 36
Florida           2422               2422
Georgia           1726               1726
Hawaii              27                 27
Idaho               12                 12
Illinois          1292               1292
Indiana            239                239
Iowa                26                 26
Kansas              10                 10
Kentucky            51                 51
Louisiana          240                240
Maine                9                  9
Maryland           643                643
Massachusetts      410                410
Michigan           260                260
Minnesota          187                187
Mississippi         72                 72
Missouri            94                 94
Montana              5                  5
Nebraska            30                 30
Nevada             217                217
New Hampshire       28                 28
New Jersey         676                676
New Mexico          40                 40
New York          3820               3820
North Carolina     536                536
North Dakota         6                  6
Ohio               267                267
Oklahoma            39                 39
Oregon             217                217
Pennsylvania       731                731
Rhode Island        73                 73
South Carolina     156                156
South Dakota         2                  2
Tennessee          270                270
Texas             2215               2215
Utah               153                153
Vermont              3                  3
Virginia           473                473
Washington         581                581
West Virginia       12                 12
Wisconsin           70                 70
Wyoming              2                  2

In [105]:
# repopulation df
table = pd.DataFrame(columns=["confirmed_date", "state_name", "num_cases", "is_predicted"])

dates = df["Date_confirmation"].unique()

In [106]:
for state in states:
    for date in dates:
        res = df[df["State"] == state]
        res = res[res["Date_confirmation"] == date]

        table[len(table.index)+1] = [date, state, len(res), 0]

table.head()

  confirmed_date state_name num_cases is_predicted           1           5
0            NaN        NaN       NaN          NaN  2022-05-18  2022-09-22
1            NaN        NaN       NaN          NaN     Alabama     Wyoming
2            NaN        NaN       NaN          NaN           0           0
3            NaN        NaN       NaN          NaN           0           0